[submodule "submodules/calyx-servicios/account-analytic"]
	path = submodules/calyx-servicios/account-analytic
	url = https://github.com/calyx-servicios/account-analytic.git
	branch = 15.0_staging
[submodule "submodules/calyx-servicios/third-party-paid"]
	path = submodules/calyx-servicios/third-party-paid
	url = https://github.com/calyx-servicios/third-party-paid.git
	branch = 15.0
[submodule "submodules/CybroOdoo/CybroAddons"]
	path = submodules/CybroOdoo/CybroAddons
	url = https://github.com/CybroOdoo/CybroAddons.git
	branch = 15.0
[submodule "submodules/ingadhoc/odoo-argentina-ee"]
	path = submodules/ingadhoc/odoo-argentina-ee
	url = https://github.com/ingadhoc/odoo-argentina-ee.git
	branch = 15.0
[submodule "submodules/ingadhoc/odoo-argentina"]
	path = submodules/ingadhoc/odoo-argentina
	url = https://github.com/ingadhoc/odoo-argentina.git
	branch = 15.0
[submodule "submodules/ingadhoc/account-payment"]
	path = submodules/ingadhoc/account-payment
	url = https://github.com/ingadhoc/account-payment.git
	branch = 15.0
[submodule "submodules/aeroo/aeroo_reports"]
	path = submodules/aeroo/aeroo_reports
	url = https://github.com/aeroo/aeroo_reports.git
	branch = 15.0
[submodule "submodules/ingadhoc/multi-company"]
	path = submodules/ingadhoc/multi-company
	url = https://github.com/ingadhoc/multi-company.git
	branch = 15.0
[submodule "submodules/ingadhoc/odoo-argentina-ce"]
	path = submodules/ingadhoc/odoo-argentina-ce
	url = https://github.com/ingadhoc/odoo-argentina-ce.git
	branch = 15.0
[submodule "submodules/ingadhoc/product"]
	path = submodules/ingadhoc/product
	url = https://github.com/ingadhoc/product.git
	branch = 15.0
[submodule "submodules/ingadhoc/partner"]
	path = submodules/ingadhoc/partner
	url = https://github.com/ingadhoc/partner.git
	branch = 15.0
[submodule "submodules/ingadhoc/sale"]
	path = submodules/ingadhoc/sale
	url = https://github.com/ingadhoc/sale.git
	branch = 15.0
[submodule "submodules/ingadhoc/project"]
	path = submodules/ingadhoc/project
	url = https://github.com/ingadhoc/project.git
	branch = 15.0
[submodule "submodules/ingadhoc/account-financial-tools"]
	path = submodules/ingadhoc/account-financial-tools
	url = https://github.com/ingadhoc/account-financial-tools.git
	branch = 15.0
[submodule "submodules/OCA/partner-contact"]
	path = submodules/OCA/partner-contact
	url = https://github.com/OCA/partner-contact.git
	branch = 15.0
[submodule "submodules/OCA/account-analytic"]
	path = submodules/OCA/account-analytic
	url = https://github.com/OCA/account-analytic.git
	branch = 15.0
[submodule "submodules/OCA/reporting-engine"]
	path = submodules/OCA/reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 15.0
[submodule "submodules/OCA/server-ux"]
	path = submodules/OCA/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 15.0
[submodule "submodules/OCA/web"]
	path = submodules/OCA/web
	url = https://github.com/OCA/web.git
	branch = 15.0
[submodule "submodules/OCA/account-financial-tools"]
	path = submodules/OCA/account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 15.0
[submodule "submodule/OCA/project"]
	path = submodules/OCA/project
	url = https://github.com/OCA/project.git
	branch = 15.0
[submodule "submodule/OCA/sale-workflow"]
	path = submodules/OCA/sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 15.0
[submodule "submodules/OCA/account-financial-reporting"]
	path = submodules/OCA/account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 15.0
[submodule "submodules/ingadhoc/stock"]
	path = submodules/ingadhoc/stock
	url = https://github.com/ingadhoc/stock.git
	branch = 15.0
[submodule "submodules/calyx-servicios/enterprise"]
	path = submodules/calyx-servicios/enterprise
	url = https://github.com/calyx-servicios/enterprise.git
	branch = 15.0
